body{
  max-width: 10.0rem;
  margin:0 auto;
  background-color: #47daeb;
  color: #333;
}
p{
  margin: 0;
  padding: 0;
}
/*公共*/
.textCenter{
  text-align: center;
}
/* font-size set start */
.font12{
    font-size: 12px;
}
[data-dpr="2"] .font12{
    font-size: 24px;
}
[data-dpr="3"] .font12{
    font-size: 36px;
}

.font14{
    font-size: 14px;
}
[data-dpr="2"] .font14{
    font-size: 28px;
}
[data-dpr="3"] .font14{
    font-size: 42px;
}

.font16{
    font-size: 16px;
}
[data-dpr="2"] .font16{
    font-size: 32px;
}
[data-dpr="3"] .font16{
    font-size: 48px;
}

.font18{
    font-size: 18px;
}
[data-dpr="2"] .font18{
    font-size: 36px;
}
[data-dpr="3"] .font18{
    font-size: 54px;
}

.font20{
    font-size: 20px;
}
[data-dpr="2"] .font20{
    font-size: 40px;
}
[data-dpr="3"] .font20{
    font-size: 60px;
}

.font22{
    font-size: 22px;
}
[data-dpr="2"] .font24{
    font-size: 44px;
}
[data-dpr="3"] .font24{
    font-size: 66px;
}

.font24{
    font-size: 24px;
}
[data-dpr="2"] .font24{
    font-size: 48px;
}
[data-dpr="3"] .font24{
    font-size: 72px;
}

.font30{
    font-size: 30px;
}
[data-dpr="2"] .font30{
    font-size: 60px;
}
[data-dpr="3"] .font30{
    font-size: 90px;
}

.font36{
    font-size: 36px;
}
[data-dpr="2"] .font36{
    font-size: 72px;
}
[data-dpr="3"] .font36{
    font-size: 108px;
}
/* font-size set end */

.red{
  color: #f00;
}
.blue{
  color: #4798eb;
}
.mrT16{
  margin-top: 0.213333rem
}

/*公共*/
.bg{
  background: url(../../../images/base/wheel/bg.png) no-repeat center center;
  background-size: 9.32rem 13.76rem;
  height: 13.76rem;
  width: 10.0rem;
  position: relative;
}
.wheel{
  position: absolute;
  top: 4.333333rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.wheel .wheel-outside{
  background: url(../../../images/base/wheel/wheel-outside.png) no-repeat center center;
  background-size: 100% 100%;
  height: 7.92rem;
  width: 7.92rem;
  position: relative;
}

.wheel .wheel-inside,.wheel .wheel-outside:before,.wheel-outside:after{
  /*内环宽高*/
  height: 6.666667rem;
  width: 6.666667rem;
}
.wheel .wheel-outside:before{
  /*黑色环*/
  box-sizing:border-box !important;
  position: absolute;
  content: "";
  top: 50%;
  left:50%;
  border-radius: 100%;
  border:0.506667rem solid rgba(0,0,0,0.15);
  background-color: rgba(255,255,255,0);
  background-color: transparent;
  -webkit-transform: translate3d(-50%,-50%,0);
  transform: translate3d(-50%,-50%,0);
  z-index: 2;
}
.wheel .wheel-outside:after{
  /*内圈,红色环*/
  box-sizing:border-box !important;
  position: absolute;
  content: "";
  top: 50%;
  left:50%;
  border-radius: 100%;
  border:0.026667rem solid #d80000;
  box-shadow: 0px 0px 5px #333;
  background-color: rgba(255,255,255,0);
  background-color: transparent;
  -webkit-transform: translate3d(-50%,-50%,0);
  transform: translate3d(-50%,-50%,0);
  z-index: 3;
}
.wheel .wheel-inside{
  /*转盘-内圈*/
  /*转盘样式,定位*/
  background: url(../../../images/base/wheel/wheel-inside.png) no-repeat center center;
  background-size: 100% 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 100%;
  /*旋转*/
  -o-transition:  transform 16s ease-in-out;
  -ms-transition:  transform 16s ease-in-out;
  -moz-transition:  transform 16s ease-in-out;    
  -webkit-transition:  transform 16s ease-in-out;
  transition: transform 16s ease-in-out;
  -o-transform-origin:  0 0;
  -ms-transform-origin:  0 0;
  -moz-transform-origin:  0 0;    
  -webkit-transform-origin:  0 0;
  transform-origin: 0 0;
  -webkit-transform:rotate(0deg) translate3d(-50%,-50%,0);
  transform:rotate(0deg) translate3d(-50%,-50%,0);
  z-index: 1;
}
.wheel .playBtn{
  background: url(../../../images/base/wheel/btn.png) no-repeat center center;
  background-size: 2.293333rem 2.68rem;
  height: 2.68rem;
  width: 2.68rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  margin-top: -0.22rem;/*因为按钮不是1:1,所以加margin-top,使得按钮居中*/
  z-index: 4;
  -webkit-tap-highlight-color: transparent;
}
.test{
      -webkit-transform: rotate(3380deg) translate3d(-50%,-50%,0) !important;
      transform: rotate(3380deg) translate3d(-50%,-50%,0) !important;
}
/*信息框*/
.infoBox{
  position: relative;
  width: 8.933333rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.6rem;
  background-color: #d6fdff;
  border-radius: 0.133333rem;
  border:2px dashed #1a9523;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}
.boxToboxLine+.boxToboxLine:before{
  /*盒子与盒子之间的连线*/
  content: "";
  position: absolute;
  background:url(../../../images/base/wheel/boxToboxLine.png) no-repeat center center;
  background-size: 100% 100%;
  height: 1.24rem;
  width: 8.24rem;
  top: 0;
  left: 50%;
  -webkit-transform: translate3d(-50%,-75%,0);
  transform: translate3d(-50%,-75%,0);
}
.infoBox .title{
  position: relative;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}
.infoBox .title:before,.infoBox .title:after{
  position: absolute;
  content: "";
  background:url(../../../images/base/wheel/title.png) no-repeat center center;
  background-size: 100% 100%;
  top: 50%;
  width: 1.773333rem;
  height: 0.133333rem;
  -o-transform-origin:  0 center;
  -ms-transform-origin:  0 center;
  -moz-transform-origin:  0 center;    
  -webkit-transform-origin:  0 center;
  transform-origin: 0 center;
}
.infoBox .title:before{
  transform: translate3d(-115%,-50%,0);
}
.infoBox .title:after{
  transform: translate3d(115%,-50%,0) rotate(180deg);
}
.infoBox .activityDetail p{
  padding-left: 0.586667rem;
  padding-right: 0.586667rem;
  line-height: 2;
}
